{% extends "base.html" %}

{% block content %}
<div class="section">
    <div class="container">
        <h2 class="title is-2">Add Genre</h2>
        <div class="content">
            <form method="POST">
                <label class="label" for="name">Name</label>
                <p class="control">
                    <input class="input" id="name" name="name" type="text">
                </p>
                <p class="control">
                    <button class="button is-primary">Add</button>
                    <a href="{{url_for('main')}}" class="button is-link">Cancel</a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}