{% extends "base.html" %}
{% block content %}
<h1>{{genre.name}}</h1>
<form method="POST" action="{{url_for('delete_genre', genre_id=genre.id)}}">
    <p>
        <a href="{{url_for('edit_genre', genre_id=genre.id)}}">edit</a><button>delete</button>
    </p>
</form>
<a href="{{url_for('add_artist', genre_id=genre.id)}}">add artists</a>
<h2>Artists</h2>
{% for artist in artists %}
    <form method="POST" action="{{url_for('delete_artist', genre_id=genre.id, artist_id=artist.id)}}">
        <p>{{artist.name}} <a href="{{url_for('edit_artist', genre_id=genre.id, artist_id=artist.id)}}">edit</a><button>delete</button></p>
        <p>{{artist.description.replace('\n', '<br>') | safe}}</p>
    </form>
{% endfor %}
{% endblock %}
