{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2 class="title is-2">New Comment</h2>
  <form method="post">
    <label class="label">Content</label>
    <p class="control">
      <textarea class="textarea" type="text" name="content">{{content}}</textarea>
    </p>
    {% if error %}
    <div class="notification is-danger">
      {{error}}
    </div>
    {% endif %}
    <a class="button" href="/blog/{{post_id}}">Cancel</a>
    <button class="button is-primary">Submit</button>
  </form>
</div>
{% endblock %}
