<!DOCTYPE html>
<html>

<head>

  <title>Simple Blog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.1/css/bulma.min.css">
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          <a href="/blog">
            Sleek Multi-user Blog
          </a>
        </h1>
        <h2 class="subtitle is-3">
          {% if user %} Welcome, {{user.name}} (<a class="login-link" href="/logout">logout</a>) {% else %}
          <a class="login-link" href="/login">login</a> |
          <a class="login-link" href="/signup">signup</a> {% endif %}
        </h2>
      </div>
    </div>
  </section>

  <div id="content">
    {% block content %} {% endblock %}
  </div>
</body>

</html>