{% extends "base.html" %} {% block content %}
{% if username %}
<section class="section">
    <div class="container">
        <h2 class="title is-2">
            Welcome, {{username}}. <a href="newpost">Make your own post!</a>
        </h2>
        <p>Want to sign into a different account? <a href="logout">Logout</a></p>
    </div>
</section>
{% endif %}
{% if not username %}
<section class="section">
    <div class="container">
        <h2 class="title is-2">
            Want to make your own post? <a href="signup">Sign up</a> or <a href="login">Login</a>. 
        </h2>
    </div>
</section>
{% endif %}
<section class="section">
    <div class="container">
        <h2 class="title is-2">Past blog posts.</h2>
        <div class="content">
            {% for post in blog_posts %}
            <div></div>
            <h3 class="title is-3">{{post.title}}</h3>
            <h5 class="subtitle is-5">by {{post.author}}</h5>
            <p>{{post.content}}</p>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}