{% extends "base.html" %}

{% block content %}
<div class="container">
  {{post.render() | safe}}
  <h2 class="title is-2">Edit Post</h2>
  <form method="post">
    <label class="label">Subject</label>
    <p class="control">
      <input class="input" type="text" name="subject" value="{{subject}}">
    </p>

    <label class="label">Content</label>
    <p class="control">
      <textarea class="textarea" type="text" name="content">{{content}}</textarea>
    </p>
    {% if error %}
    <div class="notification is-danger">
      {{error}}
    </div>
    {% endif %}
    <a class="button" href="/blog/{{post_id}}">Cancel</a>
    <button class="button is-primary">Post</button>
  </form>
</div>
  
{% endblock %}

