{% extends "base.html" %} {% block content %}
<section class="section">
    <div class="container">
        {{post.render() | safe}}
        <br>
        {% if user and not editable %}
        <form method="post">
            <input type="hidden" name="liked" value="update">
            <input type="submit" class="button is-primary is-outlined" value="{{'Like' if not liked else 'Unlike'}}">
        </form>
        {% endif %}
        {% if editable %}
        <br>
        <br>
        <h2 class="title is-2">
            Edit your post
        </h2>
        <form method="post">
            <label class="label">Title</label>
            <p class="control">
                <input class="input
                    {% if error_title %}
                    is-danger
                    {% endif %}" type="text" name="title" value="{{title}}"> {% if error_title %}
                <span class="help is-danger">{{error_title}}</span> {% endif %}
            </p>

            <label class="label">Content</label>
            <p class="control">
                <textarea class="textarea
                    {% if error_content %}
                    is-danger
                    {% endif %}" name="content">{{content}}</textarea> {% if error_content %}
                <span class="help is-danger">{{error_content}}</span> {% endif %}
            </p>

            <p class="control">
                <button class="button is-primary">Save</button>
            </p>
        </form>
        {% endif %}
        <p><a href="/">Back to home</p></a>
    </div>

</section>
{% endblock %}