{% extends "base.html" %} {% block content %}
<div class="container">
  <h2 class="title is-2">Signup</h2>
  <form method="post">
    <label class="label">Username</label>
    <p class="control">
      <input class="input" type="text" name="username" value="{{username}}">
    </p>
    {% if error_username %}
    <div class="notification is-danger">
      {{error_username}}
    </div>
    {% endif %}

    <label class="label">Password</label>
    <p class="control">
      <input class="input" type="password" name="password" value="">
    </p>
    {% if error_password %}
    <div class="notification is-danger">
      {{error_password}}
    </div>
    {% endif %}

    <label class="label">Confirm Password</label>
    <p class="control">
      <input class="input" type="password" name="verify" value="">
    </p>
    {% if error_verify %}
    <div class="notification is-danger">
      {{error_verify}}
    </div>
    {% endif %}

    <label class="label">Email (optional)</label>
    <p class="control">
      <input class="input" type="text" name="email" value="{{email}}">
    </p>
    {% if error_email %}
    <div class="notification is-danger">
      {{error_email}}
    </div>
    {% endif %}
    <button class="button is-primary">Signup</button>
  </form>
</div>
{% endblock %}